@{
  Layout = "_Layout";
}
<div class="container">
  <br>
  <h1>Add a New vendor Here</h1>
  <form action="/vendors" method="post">
    <label for="vendorName"> name </label>
    <input id="vendorName" name="vendorName" type="text">
    <label for="vendorDescription">Vendor Description </label>
    <input id="vendorDescription" name="vendorDescription" type="text">
    <label for="phoneNumber"> Vendor Phone</label>
    <input id="phoneNumber" name="phoneNumber" type="text">
    <button type="submit">Add Vendor</button>
  </form>
  <p><a href="/">Back home</a></p>
  <p><a href="/vendors">Back to vendor</a></p>

</div>     